<script>
	import Player from './Player.svelte';
	import GameOver from './GameOver.svelte';
	import Actions from './Actions.svelte';
	import Log from './Log.svelte';
	import { player, enemy } from './store.js';
	import OpenGraph from './OpenGraph.svelte';
	import SelectAvatar from './SelectAvatar.svelte';
	import SelectSkill from './SelectSkill.svelte';
</script>

<OpenGraph />
<main style={`background-image: url('/images/backgrounds/${$player.background}.jpeg')`}>
	<div class="overlay"></div>
	<div class="container">
		<div class="cards">
			<Player character={player} />
			<div class="spacer" />
			<Player character={enemy} />
		</div>
		<Log />
		<Actions {player} />
	</div>
</main>
<GameOver />
<SelectAvatar/>
<SelectSkill/>
<style>
	.container{
		display: flex;
		flex-direction: column;
		max-width: 600px;
		padding: 8px;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
	}
	.spacer {
		min-width: 8px;
	}
	.cards {
		display: flex;
		justify-content: space-between;
		max-width: 600px;
	}
	main {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		font-family: 'Cinzel', serif;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.overlay{
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0,0,0.3);
		backdrop-filter: blur(1px);
	}
	
</style>
