<script>
	import { battle } from './store.js';
	export let player;
  let showPulse = true;

	function handleAttack() {
    showPulse = false;
		player.attack();
	}

	function handleFireball() {
		console.log('Fireball action');
	}

	function handleHeal() {
    showPulse = false;
		player.heal();
	}
</script>

<div class="action-bar">
	<button class="action-button" on:click={handleAttack} disabled={$battle.isLocked} class:showPulse>
		<img src="/images/icons/sword.webp" alt="Attack" class="action-icon" />
	</button>
	<!-- <button class="action-button" on:click="{handleFireball}">
      <img src="/images/icons/firaball.webp" alt="Fireball" class="action-icon" />
    </button> -->
	<button class="action-button" on:click={handleHeal} disabled={$battle.isLocked}>
		<img src="/images/icons/heal.webp" alt="Heal" class="action-icon" />
	</button>
</div>

<style>
	.action-bar {
		display: flex;
		justify-content: center;
		padding: 10px;
		background-color: #3a3a3a;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		margin-top: 10px;
	}

	.action-button {
		border: none;
		background: transparent;
		cursor: pointer;
		position: relative;
		margin: 0 16px;
	}

	.action-icon {
		width: 48px;
		height: 48px;
		transition: 0.3s ease;
	}

	.action-button:hover .action-icon {
		filter: brightness(1.5);
	}

	.action-button::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: 0;
		border-radius: 50%;
		transition: 0.3s ease;
		z-index: -1;
	}

	.action-button:hover::before {
		opacity: 0.25;
		box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
	}
	.action-button:disabled {
		opacity: 0.1;
	}
	@keyframes pulse {
		0% {
			transform: scale(1);
			
		}

		50% {
			transform: scale(0.9);
			
		}

		100% {
			transform: scale(1);
			
		}
	}
  .showPulse{
    animation: pulse 1s infinite;
  }
</style>
