<script>
	import { onMount } from 'svelte';
	import * as THREE from 'three';

	export let value = 1;
	export let diceAnimation;
	let mounted = false;
	let container;
	let scene, camera, renderer;
	let dice;
	let clock;
	let rollDuration = 2;
	let rollStartTime = -1;
	let targetQuaternion = new THREE.Quaternion();

	// const diceRotations = [
	// 	new THREE.Euler(Math.PI, 0, 0), // 1
	// 	new THREE.Euler(0, -Math.PI / 2, 0), // 2
	// 	new THREE.Euler(-Math.PI / 2, 0, 0), // 3
	// 	new THREE.Euler(Math.PI / 2, 0, 0), // 4
	// 	new THREE.Euler(0, Math.PI / 2, 0), // 5
	// 	new THREE.Euler(0, 0, 0), // 6
	// ];
	const diceRotations = {
		1: new THREE.Euler(0, -Math.PI / 2, 0),
		2: new THREE.Euler(0, Math.PI / 2, 0),
		3: new THREE.Euler(Math.PI / 2, 0, 0),
		4: new THREE.Euler(-Math.PI / 2, 0, 0),
		5: new THREE.Euler(0, 0, 0),
		6: new THREE.Euler(Math.PI, 0, 0)
	};

	function createDiceGeometry() {
		const geometry = new THREE.BoxGeometry(1, 1, 1);
		const materials = [];

		for (let i = 1; i <= 6; i++) {
			const canvas = document.createElement('canvas');
			canvas.width = 128;
			canvas.height = 128;
			const context = canvas.getContext('2d');
			context.fillStyle = '#6a5124';
			context.fillRect(0, 0, 128, 128);
			context.fillStyle = 'white';
			context.font = 'bold 80px Arial';
			context.textAlign = 'center';
			context.textBaseline = 'middle';
			context.fillText(i === 6 ? 9 : i, 64, 68);

			const texture = new THREE.CanvasTexture(canvas);
			const material = new THREE.MeshBasicMaterial({ map: texture });
			materials.push(material);
		}

		return [geometry, materials];
	}

	function setupScene() {
		scene = new THREE.Scene();
		camera = new THREE.PerspectiveCamera(
			20,
			container.clientWidth / container.clientHeight,
			0.1,
			10
		);
		camera.position.z = 5;

		renderer = new THREE.WebGLRenderer({ alpha: true });
		renderer.setSize(container.clientWidth, container.clientHeight);
		container.appendChild(renderer.domElement);

		const [diceGeometry, diceMaterials] = createDiceGeometry();
		dice = new THREE.Mesh(diceGeometry, diceMaterials);
		scene.add(dice);

		const ambientLight = new THREE.AmbientLight(0xffffff, 1);
		scene.add(ambientLight);

		clock = new THREE.Clock();
	}

	async function rollDice() {
		dice.position.y = 0;
		rollStartTime = clock.getElapsedTime();

		// animate();

		const rotation = diceRotations[value];
		targetQuaternion.setFromEuler(rotation);
	}

	function animate() {
		const elapsedTime = clock.getElapsedTime();

		if (rollStartTime >= 0 && elapsedTime - rollStartTime <= rollDuration) {
			const progress = (elapsedTime - rollStartTime) / rollDuration;
			dice.quaternion.slerp(targetQuaternion, progress);

			// Add rotation effect
			const rotationAxis = new THREE.Vector3(0, 1, 0.4);
			const rotationSpeed = 0.4;
			dice.rotateOnAxis(rotationAxis, rotationSpeed * (1 - progress) * (1 - progress));
			
			renderer.render(scene, camera);
		} else {
			diceAnimation = false;
		}
		requestAnimationFrame(animate);
	}

	onMount(() => {
		setupScene();
		rollDice();
		animate();
		mounted = true;
	});
	$: {
		if (mounted && diceAnimation) {
			rollDice();
		}
	}
</script>

<div bind:this={container} class="container" />

<style>
	.container {
		position: relative;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		/* background-color: rgba(0, 0, 0, 0.8); */
		overflow: hidden;
		/* position: absolute;
        left: 0;
        top: 0; */
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid #6a5124;
		background-color: #f4e5b6;
	}
</style>
