<script>
	import { player, enemy } from './store.js';
	import { fade } from 'svelte/transition';
	import Share from './Share.svelte';
	const replay = () => {
		player.replay();
		enemy.replay();
	};
</script>

{#if $player.gameOver}
	<div class="game-over-container" transition:fade={{ duration: 200 }}>
		<div class="game-over-popup">
			<h2>Game Over</h2>
			<div class="player-info">
				<img class="player-avatar" src={`./images/player/${$player.avatar}.jpeg`} alt="Player Avatar" />
				<!-- <p class="player-name">{$player.name}</p> -->
			</div>
			<p class="defeated-enemies">Defeated Enemies: {$player.defeatedEnemies}</p>
			<button on:click={replay} class="replay-button">Replay</button>
			<div class="share">Share with fiends</div>
			<Share />
		</div>
	</div>
{/if}

<style>
	.share{
		margin: 16px 0 8px 0;
	}
	.game-over-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);
	}

	.game-over-popup {
		background: #3a3a3a;
		border: 2px solid #a66f3d;
		border-radius: 10px;
		padding: 20px;
		width: 300px;
		text-align: center;
		font-family: 'Cinzel', serif;
		color: #f4e8c7;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.game-over-popup h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.player-info {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}

	.player-avatar {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 10px;
		border: 3px solid #6a5124;
	}

	.player-name {
		font-size: 18px;
		font-weight: bold;
	}

	.defeated-enemies {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.replay-button {
		background: #a66f3d;
		border: none;
		border-radius: 5px;
		color: #f4e8c7;
		font-size: 16px;
		padding: 5px 15px;
		cursor: pointer;
	}
</style>
