<script>
	import { onMount } from 'svelte';
	import * as THREE from 'three';
	
	export let animated = false;
	let onComplete = () => animated= false;
	let container;
	let scene, camera, renderer;
	let particles, particleMaterial;
	let clock, elapsedTime;

	onMount(() => {
		initScene();
	});

	function initScene() {
		scene = new THREE.Scene();
		camera = new THREE.PerspectiveCamera(
			75,
			container.clientWidth / container.clientHeight,
			0.1,
			1000
		);
		camera.position.z = 5;

		renderer = new THREE.WebGLRenderer({ alpha: true });
		renderer.setSize(container.clientWidth, container.clientHeight);
		container.appendChild(renderer.domElement);

		const particleCount = 200;
		const particleGeometry = new THREE.BufferGeometry();
		const particlePositions = new Float32Array(particleCount * 3);
		const particleSpeeds = new Float32Array(particleCount * 3);
		const particleLifetimes = new Float32Array(particleCount);

		for (let i = 0; i < particleCount; i++) {
			particlePositions[i * 3] = (Math.random() * 2 - 1) * 2;
			particlePositions[i * 3 + 1] = (Math.random() * 2 - 1) * 2;
			particlePositions[i * 3 + 2] = (Math.random() * 2 - 1) * 2;

			particleSpeeds[i * 3] = (Math.random() * 2 - 1) * 0.03;
			particleSpeeds[i * 3 + 1] = Math.random() * 0.05 + 0.02;
			particleSpeeds[i * 3 + 2] = (Math.random() * 2 - 1) * 0.03;

			particleLifetimes[i] = 0;
		}

		particleGeometry.setAttribute('position', new THREE.BufferAttribute(particlePositions, 3));
		particleGeometry.setAttribute('speed', new THREE.BufferAttribute(particleSpeeds, 3));
		particleGeometry.setAttribute('lifetime', new THREE.BufferAttribute(particleLifetimes, 1));

		particleMaterial = new THREE.PointsMaterial({ color: 0x00ff00, size: 0.1 });

		particles = new THREE.Points(particleGeometry, particleMaterial);
		particles.visible = false;
		scene.add(particles);

		clock = new THREE.Clock();
		elapsedTime = 0;
	}

	function animate() {
		

		const delta = clock.getDelta();
		const rotationSpeed = 3; // Change this value to control the rotation speed
		const angle = delta * rotationSpeed;

		const positions = particles.geometry.attributes.position;
		const speeds = particles.geometry.attributes.speed;
		const lifetimes = particles.geometry.attributes.lifetime;

		for (let i = 0; i < positions.count; i++) {
			// Rotate the particle around the central axis (Y-axis)
			const x = positions.array[i * 3];
			const z = positions.array[i * 3 + 2];
			positions.array[i * 3] = x * Math.cos(angle) - z * Math.sin(angle);
			positions.array[i * 3 + 2] = x * Math.sin(angle) + z * Math.cos(angle);

			positions.array[i * 3 + 1] += speeds.array[i * 3 + 1] * delta;

			lifetimes.array[i] += delta;

			if (lifetimes.array[i] >= 2) {
				particles.visible = false;
				onComplete();
				positions.array[i * 3] = (Math.random() * 2 - 1) * 2;
				positions.array[i * 3 + 1] = (Math.random() * 2 - 1) * 2;
				positions.array[i * 3 + 2] = (Math.random() * 2 - 1) * 2;

				speeds.array[i * 3 + 1] = Math.random() * 0.05 + 0.02;

				lifetimes.array[i] = 0;
			} 
		}
    if(particles.visible){
      requestAnimationFrame(animate);
    }
		positions.needsUpdate = true;

		renderer.render(scene, camera);
	}

	function playAnimation() {
		particles.visible = true;
		clock = new THREE.Clock();
		elapsedTime = 0;
    requestAnimationFrame(animate);
	}
	$: if (animated) playAnimation();
</script>

<div bind:this={container} />

<style>
	div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
</style>
