<script>
	import * as THREE from 'three';
	import { onMount } from 'svelte';
	export let animated = false;
	let onComplete = () => animated= false;
	let container;
	let scene, camera, renderer;
	let particles, particleMaterial;

	function animate() {
		particles.forEach((particle) => {
			particle.position.add(particle.velocity);
			particle.material.opacity -= 0.02;
		});
		particles = particles.filter((particle) => {
			if(particle.material.opacity > 0){
				return true
			} else {
				scene.remove(particle);
				particle.material.dispose();
				particle.geometry.dispose();
				return false
			}
		});
		renderer.render(scene, camera);
		if (particles.length === 0) {
			onComplete();
		} else {
			requestAnimationFrame(animate);
		}
	}

	onMount(() => {
		scene = new THREE.Scene();
		camera = new THREE.PerspectiveCamera(
			75,
			container.clientWidth / container.clientHeight,
			0.1,
			1000
		);
		camera.position.z = 5;
		renderer = new THREE.WebGLRenderer({ alpha: true });
		renderer.setSize(container.clientWidth, container.clientHeight);
		container.appendChild(renderer.domElement);
		particles = [];
		particleMaterial = new THREE.MeshBasicMaterial({ color: 0xff4e50, transparent: true });
	});

	const start = () => {
		for (let i = 0; i < 550; i++) {
			const geometry = new THREE.SphereGeometry(0.05);
			const mesh = new THREE.Mesh(geometry, particleMaterial.clone());
			mesh.position.set(0, 0, 0);
			mesh.velocity = new THREE.Vector3(
				(Math.random() - 0.5) * 1,
				(Math.random() - 0.5) * 1,
				(Math.random() - 0.5) * 1
			);
			scene.add(mesh);

			particles.push(mesh);
		}
		animate();
	};
	$: if (animated) start();
</script>

<div bind:this={container} />

<style>
	div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
</style>
