<script>
	import { combatLog } from './store.js';
	import { slide } from 'svelte/transition';
</script>

<div class="combat-log">
	{#each $combatLog as entry (entry.id)}
		<div class="combat-log-entry" in:slide>
			<span class={entry.type}>{entry.message}</span>
		</div>
	{/each}
</div>

<style>
	.combat-log {
		margin-top: 16px;
		margin-bottom: 16px;
		box-sizing: border-box;
		background-color: #f0e6d6;
		padding: 20px;
		border-radius: 10px;
		width: 100%;
		max-height: 200px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		font-family: 'Cinzel', serif;
		overflow-y: auto;
		flex-grow: 1;
	}

	.combat-log-entry {
		font-size: 1.1rem;
		margin-bottom: 5px;
	}

	.player {
		color: #41b883;
	}

	.enemy {
		color: #ff4e50;
	}
</style>
