<script>
    import { page } from '$app/stores';
    export let title = 'Dice Quest';
    export let description = 'Lord of the Rings inspired Roguelike RPG game';
    export let image = `${$page.url.origin}/api/ogimage/${$page.url.search}`;
    export let url = 'https://dicequest.vercel.app/';
    export let type = 'website';
    export let locale = 'en_US';
    export let siteName = 'Dice Quest';
  </script>
  
  <svelte:head>
    <meta property="og:title" content="{title}" />
    <meta property="og:description" content="{description}" />
    <meta property="og:image" content="{image}" />
    <meta property="og:url" content="{url}" />
    <meta property="og:type" content="{type}" />
    <meta property="og:locale" content="{locale}" />
    {#if siteName}
      <meta property="og:site_name" content="{siteName}" />
    {/if}
</svelte:head>
  