<script>
	import Hit from './Hit.svelte';
	import Heal from './Heal.svelte';
	import CriticalHit from './CriticalHit.svelte';
	import Dice from './Dice.svelte';
	export let character;
</script>

<div class="character-card">
	<Hit bind:animated={$character.attackAnimation} />

	<Heal bind:animated={$character.healAnimation} />
	<CriticalHit bind:animated={$character.criticalAnimation} />

	<div class="character-name">{$character.name}</div>
	<div
		class="avatar"
		style={`background-image: url("./images/${$character.type}/${$character.avatar}.jpeg");`}
	/>
	<div class="health-bar">
		<div
			class="current-health"
			style="width: {Math.floor(($character.currentHealth / $character.maxHealth) * 100)}%;"
		/>
	</div>
	<Dice bind:value={$character.dice} bind:diceAnimation={$character.diceAnimation} />
</div>

<style>
	.character-card {
		position: relative;
		background-color: #3a3a3a;
		border: 2px solid #6a5124;
		border-radius: 5px;
		padding: 10px;
		font-family: 'Cinzel', serif;
		color: #f4e5b6;
		width: 240px;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}

	.character-name {
		font-size: 24px;
		margin-bottom: 10px;
		text-align: center;
	}

	.avatar {
		border: 3px solid #6a5124;
		border-radius: 50%;
		width: 100px;
		height: 100px;

		background-size: cover;
		background-position: center;
		margin-bottom: 10px;
	}

	.health-bar {
		background-color: #8b0000;
		border: 1px solid #6a5124;
		width: 100%;
		height: 20px;
		position: relative;
		margin-bottom: 10px;
	}

	.health-bar .current-health {
		background-color: #50c878;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transition: width 0.5s;
	}
</style>
