<script>
	import {
		player,
		PLAYER_ATTACK_SKILL,
		PLAYER_HEAL_SKILL,
		PLAYER_CRITICAL_SKILL,
		addLogEntry
	} from './store.js';
	import { fade } from 'svelte/transition';

	const attack = () => {
		player.update((state) => ({
			...state,
			attack: state.attack + PLAYER_ATTACK_SKILL,
			skillSelected: true
		}));
	};
	const heal = () => {
		player.update((state) => ({
			...state,
			heal: state.heal + PLAYER_HEAL_SKILL,
			skillSelected: true
		}));
	};
	const healthPotion = () => {
		player.update((state) => {
			const potion = state.currentHealth + 20;
			return {
				...state,
				currentHealth: potion >= 100 ? 100 : potion,
				skillSelected: true,
				healAnimation: true
			};
		});
		addLogEntry({
			type: 'player',
			message: `${$player.name} takes health potion`
		});
	};
	const critical = () => {
		player.update((state) => {
			return {
				...state,
				criticalChanse: state.criticalChanse + PLAYER_CRITICAL_SKILL,
				skillSelected: true,
			};
		});
	};
</script>

{#if !$player.skillSelected}
	<div class="game-over-container" transition:fade={{ duration: 200 }}>
		<div class="game-over-popup">
			<h2>Select skill</h2>
			<div class="list">
				<button on:click={attack} class="replay-button">Attack +0.2</button>
				<button on:click={heal} class="replay-button">Heal +0.2</button>
				{#if $player.criticalChanse < 0.6}
					<button on:click={critical} class="replay-button">Critical chance +5%</button>
				{/if}
				<button on:click={healthPotion} class="replay-button">Health potion (+20)</button>
			</div>
		</div>
	</div>
{/if}

<style>
	.list {
		display: flex;
		flex-direction: column;
		max-height: 300px;
		overflow: auto;
		justify-content: space-between;
	}
	.game-over-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);
	}

	.game-over-popup {
		background: #3a3a3a;
		border: 2px solid #a66f3d;
		border-radius: 10px;
		padding: 20px;
		width: 300px;
		text-align: center;
		font-family: 'Cinzel', serif;
		color: #f4e8c7;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 100%;
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.game-over-popup h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.replay-button {
		background: #a66f3d;
		border: none;
		border-radius: 5px;
		color: #f4e8c7;
		font-size: 16px;
		padding: 5px 15px;
		cursor: pointer;
		margin: 8px;
	}
</style>
