<script>
	import { player } from './store.js';
	import { fade } from 'svelte/transition';
	import gameData from './gameData.js';

	const play = () => {
		player.update((state) => ({ ...state, charaterSelected: true }));
	};
</script>

{#if $player.charaterSelected === false}
	<div class="game-over-container" transition:fade={{ duration: 200 }}>
		<div class="game-over-popup">
			<h2>Select character</h2>
			<div class="list">
				{#each gameData.playerAvatars as avatar, i}
					<!-- svelte-ignore a11y-click-events-have-key-events -->
					<div
						class="player-info"
						on:click={() => player.selectAvatar({ avatar, name: gameData.playerNames[i] })}
					>
						<img
							class="player-avatar"
							src={`./images/player/${avatar}.jpeg`}
							alt="Player Avatar"
							class:selected={$player.avatar === avatar}
						/>
						<div class="player-name">{gameData.playerNames[i]}</div>
					</div>
				{/each}
			</div>
			<button on:click={play} class="replay-button">Start</button>
		</div>
	</div>
{/if}

<style>
	.list {
		display: flex;
		flex-wrap: wrap;
		max-height: 300px;
		overflow: auto;
		justify-content: space-between;
	}
	.game-over-container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(3px);
	}

	.game-over-popup {
		background: #3a3a3a;
		border: 2px solid #a66f3d;
		border-radius: 10px;
		padding: 20px;
		width: 300px;
		text-align: center;
		font-family: 'Cinzel', serif;
		color: #f4e8c7;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 100%;
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.game-over-popup h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.player-info {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
	}
	.player-info:hover .player-avatar {
		border-color: #6a5124;
	}

	.player-avatar {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		object-fit: cover;
		border: 3px solid transparent;
	}

	.player-name {
		font-size: 14px;
		font-weight: bold;
	}

	.replay-button {
		background: #a66f3d;
		border: none;
		border-radius: 5px;
		color: #f4e8c7;
		font-size: 16px;
		padding: 5px 15px;
		cursor: pointer;
	}
	.selected {
		border-color: bisque;
	}
</style>
