<script>
    import {player} from './store.js'
    import {onMount} from 'svelte'
    let url = '';
    onMount(()=>{
        url = encodeURIComponent(`${window.location.href.split('?')[0]}?n=${$player.name}&s=${$player.defeatedEnemies}&a=${$player.avatar}&b=${$player.background}`)
    })
    let text = encodeURIComponent('My Dice Quest Game Results')
    
</script>
<div>
	<a
		href={`https://t.me/share/url?url=${url}&text=${text}&utm_source=share2`}
		rel="nofollow noopener"
		target="_blank"
		title="Telegram"
	>
		<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
			><path
				d="M18.92 6.089L4.747 11.555c-.967.388-.962.928-.176 1.168l3.534 1.104 1.353 4.146c.164.454.083.634.56.634.368 0 .53-.168.736-.368.13-.127.903-.88 1.767-1.719l3.677 2.717c.676.373 1.165.18 1.333-.628l2.414-11.374c.247-.99-.378-1.44-1.025-1.146zM8.66 13.573l7.967-5.026c.398-.242.763-.112.463.154l-6.822 6.155-.265 2.833-1.343-4.116z"
				fill="#FFF"
				fill-rule="evenodd"
			/></svg
		>
	</a>

	<a
		href={`https://twitter.com/intent/tweet?text=${text}&url=${url}&utm_source=share2`}
		rel="nofollow noopener"
		target="_blank"
		title="Twitter"
		><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
			><path
				d="M20 7.539a6.56 6.56 0 01-1.885.517 3.294 3.294 0 001.443-1.816 6.575 6.575 0 01-2.085.796 3.283 3.283 0 00-5.593 2.994A9.32 9.32 0 015.114 6.6a3.28 3.28 0 001.016 4.382 3.274 3.274 0 01-1.487-.41v.041a3.285 3.285 0 002.633 3.218 3.305 3.305 0 01-1.482.056 3.286 3.286 0 003.066 2.28A6.585 6.585 0 014 17.524 9.291 9.291 0 009.032 19c6.038 0 9.34-5 9.34-9.337 0-.143-.004-.285-.01-.425A6.672 6.672 0 0020 7.538z"
				fill="#FFF"
				fill-rule="evenodd"
			/></svg
		></a
	>

	<a
		href={`https://api.whatsapp.com/send?text=${text}%20${url}&utm_source=share2`}
		rel="nofollow noopener"
		target="_blank"
		title="WhatsApp"
		><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
			><path
				d="M20 11.794c0 4.304-3.517 7.794-7.855 7.794a7.87 7.87 0 01-3.796-.97L4 20l1.418-4.182a7.714 7.714 0 01-1.127-4.024C4.29 7.489 7.807 4 12.145 4S20 7.49 20 11.794zm-7.855-6.553c-3.641 0-6.603 2.94-6.603 6.553A6.48 6.48 0 006.8 15.636l-.825 2.433 2.537-.806a6.6 6.6 0 003.633 1.084c3.642 0 6.604-2.94 6.604-6.553s-2.962-6.553-6.604-6.553zm3.967 8.348c-.049-.08-.177-.128-.37-.223-.192-.095-1.139-.558-1.315-.621-.177-.064-.305-.096-.434.095a10.92 10.92 0 01-.61.749c-.112.128-.224.143-.416.048-.193-.096-.813-.297-1.549-.948a5.76 5.76 0 01-1.07-1.323c-.113-.191-.013-.295.084-.39.086-.086.192-.223.289-.334.096-.112.128-.191.192-.319s.032-.239-.016-.335c-.048-.095-.433-1.035-.594-1.418-.16-.382-.32-.318-.433-.318-.112 0-.24-.016-.369-.016a.71.71 0 00-.513.239c-.177.19-.674.653-.674 1.593s.69 1.848.786 1.976c.096.127 1.332 2.119 3.289 2.884 1.958.764 1.958.51 2.31.477.353-.031 1.14-.461 1.3-.908.16-.446.16-.829.113-.908z"
				fill="#FFF"
				fill-rule="evenodd"
			/></svg
		></a
	>
</div>
<style>
    a svg{
        width: 32px;
    }
    a{
        padding: 8px;
    }
</style>